<br>
<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" [style.margin-right]="'10px'">
    <button (click)="addNewUser()" mat-raised-button >Add New User</button>
</div>
<br>
<div [ngClass]="{'table-responsive' : screenWidth < 780}">
    <table [ngClass]="screenWidth < 780?'mobile-table':'full-table'" mat-table [dataSource]="dataSource">
        
        <!-- Frist Name -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> Frist Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Last Name -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">å
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Data of Birthday -->
        <ng-container matColumnDef="birthday">
            <th mat-header-cell *matHeaderCellDef> Date of Birthday </th>
            <td mat-cell *matCellDef="let element"> {{element.birthday}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row);editNewUser()"> </tr>
    </table>
</div>

