<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * This project * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is a test demo * * *  * * * * * * * * * * -->
<!-- * * * * * * * * * * for DataBrain. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<p>
  <mat-toolbar color="primary">
      <button mat-icon-button  class="dbrain-icon" aria-label="icon-button with menu icon">
          <mat-icon>home</mat-icon>
      </button>
      <span>OPC Test</span>
  </mat-toolbar>
</p>
<div style="padding-left:20px;padding-right:20px">
    <router-outlet></router-outlet>
</div>


